li.no-margin {
    margin-left: 0;
    padding-top: 10px;
}
div.no-margin {
    margin-left: 0;  
}
.sub-part div h4 {
    color:#bf261c !important;
}
.border-red-bottom-dotted {
    border-bottom: 1px dotted #bf261c;
}
.sub-part div div.span1>img {
    width: 90%;
    height: 90%;
    cursor: pointer;
}
.sub-part div div.span1 {
    margin-left: 0;
}
.sub-part {
    display: none;
}
.contactwrap #contact-form{
      width: 315px;
}
.contact_faq #contact-form{
      width: 280px;
}
input.error {
    border: 1px solid red;
}
#myCarousel {
    background: #000;
}